@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:wght@300;400;700&family=Tajawal:wght@200;400;700&display=swap');

:root {
  --primary-red: #ab3550;
  --primary-red-light: #dab9c1;
  --primary-red-box-shadow: rgba(253, 13, 13, 0.25);
  --secondary-red: #ac2947;
  --tertiary-red: #43121d;
  --tertiary-red-border: #43121d18;
  --tertiary-red-light-text: #43121da1;
  --primary-green: #35ab50;
  --secondary-green: rgb(129, 226, 17);
  /* background-color: rgb(105, 0, 0); */
  --navbar-height: 117px;
  --footer-height: 361px;
  /* filter:brightness(.7); */
}

@media (max-width: 650px) {
  :root {
    --footer-height: 553px;
  }
}

body, html {
  height: 100%;
}

#main-routes-content {
  padding-top: var(--navbar-height);
  min-height: calc(100vh - var(--footer-height));
}

.fit-main-routes-content {
  min-height: calc(100vh - var(--footer-height) - var(--navbar-height));
}

.hidden {
  visibility: hidden;
}

.blocked {
  pointer-events: none;
  opacity: .5;
}

input[type="text"].primary-style, input[type="password"].primary-style {
  padding: .75rem 1.35rem;
  border: 2px solid var(--primary-red);
  margin: 10px auto;
}

input[type="submit"] {
  background-color: var(--primary-red);
  border: 2px solid var(--primary-red);
  color: #fff;
  padding: .75rem;
  width: 150px;
  margin: 10px auto;
  border-radius: 0px;
}

.labeled-checkbox-button {
  all: inherit;
  display: flex;
  grid-gap: .5rem;
}

.labeled-checkbox-button .checkbox-div { /* copy from bootstrap, can use with <div /> */
  width: 1.5rem;
  height: 1.5rem;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  vertical-align: top;
  background-color:#fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  border: 1px solid rgba(0,0,0,.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  border-radius: .15rem;
  z-index: 2;
}

.labeled-checkbox-button .checkbox-div.active {
  filter:brightness(90%);
  box-shadow: 0 0 0 .25rem rgba(253,0,13,.10);
}

.labeled-checkbox-button .checkbox-div.box-shadow {
  box-shadow: 0 0 0 .25rem rgba(253,0,13,.25);
}

.labeled-checkbox-button .checkbox-div.box-shadow-light {
  box-shadow: 0 0 0 .25rem rgba(255, 192, 195, 0.473);
}

.labeled-checkbox-button .checkbox-div.checked {
  background-color: rgb(255, 194, 194);
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27M6 10l3 3l6-6%27/%3e%3c/svg%3e");
}

.smart-input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.smart-input .form-control.primary-style.warn {
  border: 2px solid red;
  box-shadow: 0 0 0 .25rem rgba(253,0,13,.25);
}

.smart-input .form-control.warn {
  box-shadow: 0 0 0 .25rem rgba(253,0,13,.25);
}

.smart-input .label {
  background-color: #fff;
  color: var(--primary-red);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-right: 6px;
  position: absolute;
}

textarea {
  border: 1px solid #dacece;
}

/* .left-col is sticky side col used in /admin, /account and /menu */

.left-col {
  width: 250px !important;
  position: sticky;
  top: var(--navbar-height);
  height: calc(100vh - var(--navbar-height));
  background-color: var(--secondary-red);
  border-bottom: none;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: #fff;
  padding: 0 !important;
  list-style-type: none;
}

@media (max-width: 767px) {  
  .left-col {
    height: max-content;
    width: 100% !important;
    position: initial;
  }
}

.left-col a {
  background-color: #fff;
  border: 2px solid rgb(255, 185, 195);
  color: rgb(255, 185, 195);
}

 .left-col a:hover {
  background-color: #fff;
  border: 1px solid var(--secondary-red);
  color: rgb(255, 185, 195);
  transition: .2s ease-in-out;
}

a.dropdown-item.active, a.dropdown-item:active {
  color:#fff;
  text-decoration:none;
  background-color:#fd0d0d3d 
}

a.btn.btn-primary {
  border-bottom: 2px solid rgb(255, 185, 195);
}

a.btn.btn-primary.active, a.btn.btn-primary:hover {
  background-color: #fff;
  color: var(--secondary-red);
  border: 2px solid var(--secondary-red);
}

a.btn.btn-secondary.active, a.btn.btn-secondary:hover {
  background-color:var(--secondary-red);
  color: #fff;
  border: 2px solid var(--secondary-red);
}

.btn.btn-primary {
  background-color: var(--secondary-red);
  border: 2px solid var(--secondary-red);
  border-radius: 0px;
  font-weight: bold;
  padding: .75rem 1.35rem;
}

.btn.btn-primary:hover, input[type="submit"]:hover {
  transition: .2s ease-in-out;
  background-color: #fff;
  border: 2px solid var(--secondary-red);;
  color: var(--primary-red);
}

.btn.btn-secondary {
  background-color: #fff;
  border: 2px solid var(--secondary-red);;
  color: var(--primary-red);
  border-radius: 0px;
  font-weight: bold;
  padding: .75rem 1.35rem;
}

.btn.btn-secondary:hover, input[type="submit"]:hover {
  background-color: var(--secondary-red);
  color: #fff;
}

.btn-check:focus+.btn, .btn.btn-primary:focus {
  box-shadow:0 0 0 .25rem rgba(80, 0, 0, 0.25) 
}

.btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle, .show>.btn-primary.dropdown-toggle {
  color: var(--primary-red) !important;
  background-color: #fff !important;
  border-color: #ca0a0a !important;
}

.btn.disabled,.btn:disabled,fieldset:disabled .btn {
  pointer-events:none;
  opacity:.65 
}

.btn-check:focus+.btn-primary, .btn.btn-primary:focus {
  color:#fff;
  background-color:#d70b0b;
  border-color:#ca0a0a;
  box-shadow:0 0 0 .25rem rgba(253, 49, 49, 0.5);
}

.btn-check:active+.btn-primary,.btn-check:checked+.btn-primary,.btn-primary.active,.btn-primary:active, .show>.btn-secondary.dropdown-toggle {
  color:#fff;
  background-color:#ca0a0a;
  border-color:#be0a0a;
}

input.form-control:focus {
  border-color:#be0a0a;
}

.btn-check:active+.btn.btn-primary:focus,.btn-check:checked+.btn.btn-primary:focus,.btn.btn-primary.active:focus,.btn.btn-primary:active:focus,.show>.btn.btn-primary.dropdown-toggle:focus, input.form-control:focus {
  box-shadow:0 0 0 .25rem rgba(253, 49, 49, 0.5);
}

.btn-primary.disabled,.btn-primary:disabled {
  color:#fff;
  background-color:#fd0d0d;
  border-color:#fd0d0d;
}

.icon-buttons {
  width: max-content;
}

.icon-buttons>.btn.btn-primary {
  margin-left: 10px;
  padding: 1.125rem !important;
  position: relative;
}

.icon-buttons>.btn.btn-primary>svg {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notifications-container {
  pointer-events: none;
  max-width: 500px;
  z-index: 1060;
  padding: 1rem;
  margin: auto auto 0px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.notification.device-added .info {
  display: grid;
  grid-template-columns: 60px auto;
}

.notification {
  align-items: center;
  background-color: #fff;
  border: 4px solid rgb(231, 167, 167) !important;
  border-radius: 0px !important;
  color: var(--primary-red);
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  opacity: 0;
  padding: .5rem 1rem;
  margin-bottom: .25rem;
  transition: all .20s linear;
  transform:translateX(10%);
  z-index: 1055;
}

.notification img {
  height: 100px;
  margin-right: 1rem;
}

.green {
  color: var(--primary-green);
}

.secondary-green {
  color: var(--secondary-green);
}

.red {
  color: red;
}

.yellow {
  color: #ffe600; 
}

.white {
  background-color: rgba(247, 247, 247, 0.952);
  border: 1px solid rgba(182, 182, 182, 0.4);
}

.notifications-container .show {
  transform: none;
  opacity: 1;
}

.notifications-container .close {
  opacity: 0;
  transform: scale(.97);
  }

.notification .x-button {
  transform: scale(2);
  cursor: pointer;
  pointer-events:all;
}

#navbar {
  background-color: #fff;
  border-radius: 0px;
  box-shadow: rgba(70, 0, 0, 0.2) 0px 1px 8px;
  font-weight: bold;
  height: auto;
  max-width: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
}

#navbar a, #navbar button {
  color: var(--primary-red);
  font-size: 0.9375rem;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

#navbar img {
  height: 90%;
  max-width: 100%;
}

@media (max-width: 992px) {
  #navbar .dropdown-menu {
    border-top: none;
    border-right: none;
    border-bottom: none;
  }
}

#navbar .dropdown-menu .dropdown-item {
  padding: 0;
}

#navbar .dropdown-menu .nav-link {
  font-weight: bold;
  padding: 0.8rem;
}

#navbar .dropdown-menu .nav-link:hover {
  background-color: var(--primary-red);
  color: #fff;
}

#navbar .phone-num {
  background-color: var(--primary-red);
  border: 2px solid var(--primary-red);
  border-radius: 0px;
  box-sizing: border-box;
  color: #fff;
  padding: .5rem 1.5rem;
  transition: .2s ease-in-out;
}

#navbar .phone-num:hover {
  background-color: transparent;
  color: var(--primary-red);
}

#front-page {
  background-color: rgb(255, 0, 0);
}

#header {
  background: url("./assets/png3.png") no-repeat center center/cover;
  height: auto;
  overflow: hidden;
  padding: 15px 0px;
  text-align: left;
  width: 100%;
}

@media (max-width: 768px) {
  #header {
    padding: 45px 25px;
  }
}

#header .col {
  background-color: rgb(255, 255, 255);
  margin: 60px 10px;
  padding: 7rem 2rem;
  width: 100%;
  max-width: 424px;
}

@media (max-width: 768px) {
  #header .col {
    margin: 0px 10px;
    background-color: rgba(255, 255, 255, .9);
  }
}

#header h2 {
  color: var(--primary-red);
  font-family: 'Tajawal', sans-serif;
  font-size: 3.1050rem; 
  font-weight: bold;
  width: 80%;
}

#header p {
  color: rgb(0, 0, 0);
  font-family: 'Tajawal', sans-serif;
  font-size: 1.1rem;
  margin: 15px 0px;
}

#header .btn {
  font-size: .9rem;
  font-weight: bold;
  height: 50px;
  margin: 20px 10px 20px 0px;
  position: relative;
  padding-right: 50px;
  text-align: center;
  width: 170px;
}

#header .btn .fa-cart-shopping {
  font-size: .9rem;
  position: absolute;
  right: 30px;
  top: 15px;
}

#header .btn .fa-chevron-right {
  font-size: .9rem;
  position: absolute;
  right: 30px;
  top: 18px;
}

#header button {
  background-color: #fff;
  border: none;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,.25);
  color: var(--secondary-red);
}

#header button:hover {
  background-color: var(--secondary-red);
  color: #fff;
}

#icon-pitch {
  pointer-events: none;
  color: #fff;
  display: grid;
  font-family: 'Tajawal', sans-serif;
  grid-template-columns: 15vw 15vw 15vw 15vw;
  justify-content: center;
  background-color: var(--secondary-red);
  padding: 3rem 3rem 2rem;
  max-width: 100%;
  overflow-x: hidden; /* <- solved this component not fitting to width */
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  #icon-pitch {
    grid-template-columns: 18vw 18vw 18vw 18vw;
  }
}

@media (max-width: 650px) {
  #icon-pitch {
    align-items: center;
    grid-template-columns: max-content max-content;
    justify-content: center;
  }

  #icon-pitch div {
    margin-bottom: .45rem;
  }
}

@media (max-width: 480px) {
  #icon-pitch {
    grid-template-columns: 1fr;
  }
}

#icon-pitch .svg-inline--fa {
  height: 3rem;
}

#icon-pitch h6 {
  font-size: .9rem;
  font-weight: bold;
  letter-spacing: 3px;
}

#about-us {
  font-family: 'Quicksand', sans-serif;
  margin: 5rem auto;
}

@media (max-width: 768px) {
  #about-us .row {
    flex-direction: column;
  }
}

#about-us .explore-our-foods ul {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: 33% 33% 33%; 
  grid-gap: 3rem 1rem;
  list-style-type: none;
  padding: 0;
}

@media (max-width: 767px) {
  #about-us .explore-our-foods ul {
    flex-direction: column;
  }
}

#about-us .explore-our-foods ul>* {
  flex: 0 0 33.33%;
  max-width: 361px;
}

#about-us .explore-our-foods img {
  border-radius: 10px;
  width: 100%;
}

#about-us .explore-our-foods h2 {
  color: var(--tertiary-red);
  font-weight: bold;
  margin-bottom: 5rem;
  text-align: center;
}

#about-us .explore-our-foods p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.75;
  margin-bottom: 5rem;
  text-align: center;
}

#menu .food-item, #about-us .food-item {
  display: flex;
  flex-direction: column; 
}

#menu .food-item .col, #about-us .food-item .col {
  display: flex;
  flex-direction: column;
  margin: 0.4rem;
}

#menu .food-item .below-image-col, #about-us .food-item .below-image-col {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#menu .food-item .name, #about-us .food-item .name {
  color: var(--tertiary-red);
  font-size: 1.25rem;
  font-weight: bold;
  height: 3.75rem;
}

#menu .food-item .ingredients, #about-us .food-item .ingredients {
  color: rgb(153, 153, 153);
  font-weight: bold;
  height: 3rem;
  overflow: hidden;
}

#menu .food-item .food-image, #about-us .food-item .food-image {
  max-width: 100%;
  border-radius: 10px;
}

#menu .food-item .info-col, #about-us .food-item .info-col {
  min-height: 224px;
  justify-content: space-between;
}

#about-us .food-item .info-col {
  min-height: 124px;
}

#menu .food-item .misc-info, #about-us .food-item .misc-info {
  color: var(--primary-red);
  font-weight: bold;
}

#menu .food-item .price-row, #about-us .food-item .price-row {
  margin: 1rem 0;
  font-size: 1.5rem;
}

#menu .food-item .current-price, #about-us .food-item .current-price {
  color: var(--primary-red);
  font-weight: bold;
}

#menu .food-item .previous-price, #about-us .food-item .previous-price  {
  color: #999;
  font-weight: bold;
  text-decoration: line-through;
}

#menu .food-item .order-now-button, #about-us .food-item .order-now-button {
  font-weight: bold;
  max-width: 142px;
  margin: 0;
}

#about-us .mission-statement {
  margin-top: 7.5rem;
}

#about-us .mission-statement h2 {
  font-weight: bold;
  color: var(--tertiary-red);
}

@media (max-width: 768px) {
  #about-us .mission-statement .row:first-of-type h2 {
    margin-top: 2rem;
  }
}

#about-us .mission-statement p {
  font-family: 'Quicksand', sans-serif;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

#about-us .mission-statement .row:first-of-type {
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  #about-us .mission-statement .row:first-of-type {
    margin-bottom: 2rem;
  }
}

#about-us .mission-statement .row:first-of-type .col-md-5 {
  padding-left: 1rem;
}

#about-us .mission-statement ul {
  list-style-type: none;
  margin-bottom: 2rem;
  padding: 0;
}

#about-us .mission-statement ul li {
  margin-top: .50rem;
}

#about-us .mission-statement ul .fa-wheat-awn {
  color: var(--secondary-red);
  margin-right: .75rem;
}

#about-us .mission-statement img {
  border-radius: .8rem;
  width: 100%;
}

#about-us .video-presentation {
  background: url('../src/assets/about-us-3.png') no-repeat center center/cover;
  margin-top: 2rem;
  padding-bottom: 9rem;
  padding-top: 6rem;
  text-align: center;
}

#about-us .video-presentation h2 {
  color: var(--primary-red);
  max-width: 700px;
  font-weight: bold;
  margin: auto;
}

#about-us .video-presentation p {
  margin: 1rem auto 3rem;
  max-width: 550px;
}

#about-us .video-presentation a {
  color: var(--tertiary-red);
  font-size: 1.2rem;
  text-decoration: none;
}

#about-us .video-presentation a:hover {
  color: var(--primary-red);
}

#about-us .video-presentation .fa-play {
  margin: auto 5px;
  font-size: .9rem;
}

#testimonials {
  background-color: var(--primary-red);
  padding-bottom: 5rem;
}

#testimonials h2 {
  color: #fff;
  font-size: 2.5rem;
  padding-top: 8rem;
  padding-bottom: 4rem;
  text-align: center;
}

#testimonials .testimonial {
  align-items: center;
  display: flex;
  background-color: #fff;
  border-radius: 3%;
  flex-direction: column;
  margin: auto;
  margin: 2rem 4rem 3rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

#testimonials .testimonial img {
  border-radius: 50%;
  height: 85px;
  width: 85px;
}

#testimonials .testimonial .body {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 1.25rem auto;
  max-width: 400px;
  text-align: center;
}

#testimonials .testimonial .name {
  color: var(--secondary-red);
  font-size: 1.15rem;
  font-weight: bold;
}

#testimonials .slick-dots {
  background-color: var(--primary-red);
  display: table;
}

#testimonials .slick-dots li {
  margin: auto .25rem;
  padding: 0;
}

#testimonials .slick-dots li button::before {
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  opacity: .35;
}

#testimonials .slick-dots li.slick-active button::before {
  opacity: 1;
}

#faq h2 {
  color: var(--tertiary-red);
  padding: 8rem 5rem 5rem;
  text-align: center;
}

#faq .tilda {
  color: red;
  margin-right: .5rem;
}

#faq .question {
  color: var(--tertiary-red);
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

#faq .col {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

#faq .grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  #faq .grid {
    grid-template-columns: 1fr;
  }
}

#parallax {
  margin-top: 7rem;
  overflow: hidden;
}

#parallax .overlay-header {
  color: #fff;
  padding: 4.75rem;
  background-color: rgba(0, 0, 0, .4);
}

#parallax .parallax-img {
  background: url('./assets/parallax4.jpg') no-repeat center fixed;
  background-size: cover;
}

@media (max-width: 992px) {
  #parallax .parallax-img {
    background: url('./assets/parallax4mobile.jpg') no-repeat center fixed;
    background-size: 150%;
  }
}

#subscribe {
  padding: 7.5rem 0 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#subscribe .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#subscribe h2 {
  color: var(--tertiary-red);
  font-family: 'Quicksand', sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  max-width: 675px;
  text-align: center;
}

#subscribe p {
  margin: 10px;
}

#subscribe form {
  max-width: 500px;
  width: 100%;
}

#subscribe input {
  font-weight: bold;
}

#footer {
  background-color: var(--primary-red);
  bottom: 0px;
  font-family: 'Tajawal', sans-serif;
  padding-top: 1rem;
  position: relative;
  width: 100%;
}

#footer .info {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  width: 100%;
}

@media (max-width: 650px) {
  #footer .info {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}

#footer .box {
  width: 300px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 1.5rem;
  color: rgb(61, 31, 31);
  font-weight: bold;
}

#footer .box .label {
  font-weight: bold;
  margin-bottom: 55rem;
}

#footer .social-media {
  width: max-content;
}

@media (max-width: 650px) {
  #footer .box {
    width: 300px;
  }
}

#footer .social-media ul {
  display: flex;
  list-style: none;
  padding: 0;
}

#footer .social-media ul li a {
  color: rgb(61, 31, 31);
  margin-right: 10px;
  font-size: 2rem;
}

#footer .social-media ul li a:hover {
  color: rgb(255, 185, 195);
}

#footer .copyright {
  border-top: 1px solid #43121d73;
  color: #fff;
  margin: auto;
  padding: 5.5rem;
}

#auth {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-shadow: 0px 0px 2px 1.5px var(--primary-red);
  max-width: 450px;
  max-height: max-content;
  margin: 5rem auto;
}

#auth h2 {
  background-color: var(--primary-red);
  color: #fff;
  font-weight: 400;
  position: absolute;
  top: -20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 0.25rem;
  text-align: center;
  left: 70px;
}

#auth a {
  margin-bottom: 2rem;
}

.auth-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
  width: 100%;
}

.auth-box .no-shift {
  min-height: 40px;
}

@media (max-width: 445px) { 
  .auth-box .no-shift {
    min-height: 64px;
  }
}

.auth-box .toggle-default-address-form {
  margin: auto auto 1rem;
}

.auth-box .toggle-default-address-form .label {
  color: var(--primary-red);
  font-weight: bold;
  display: flex;
}

.auth-box form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 85%;
}

.auth-box form .smart-input {
  margin-bottom: 1rem;
  width: 100%;
}

.auth-box form .city-state-row {
  display: grid;
  grid-template-columns: 49% 23% 28%;
}

.auth-box form input[value="state"] {
  padding: .75rem .25rem;
  border: 2px solid var(--primary-red);
  margin: 10px auto;
}

.food-item-li:hover {
  color: var(--primary-red);
  cursor: pointer;
}

.food-item-li button {
  all: inherit;
}

.food-item-li button.btn {
  color: #fff;
  margin: 0;
}

.food-item-li button:focus {
  outline: 2px double rgb(255, 0, 0);
}

#menu {
  color: var(--primary-red);
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-top: 2rem;
  background-color: #fff;
  margin-top: 0;
}

@media (max-width: 576px) {  
  #menu.container {
    padding: 0px;
  }
}

#menu .left-col a {
  background-color: inherit;
  border: none;
  color: #fff;
}

#menu .left-col a:hover {
  color: var(--tertiary-red);
}

#menu .left-col ul {
  background-color: inherit;
  margin: 1rem auto 0;
  font-size: 1.2rem;
}

#menu .left-col li {
  padding: .65rem;
}

#menu .right-col {
  box-shadow: rgba(70, 0, 0, 0.2) 0px 1px 8px;
}

@media (max-width: 767px) {  
  #menu .col-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 576px) {  
  #menu .col-wrapper.row {
    padding: -0px;
    margin: 0px;
  }
}

#menu ul {
  padding: 0rem;
  list-style-type: none;
}

#menu .food-category {
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

#menu .food-category ul {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(90px, 225px)); 
  grid-gap: 3rem 1rem;
}


#menu .food-category li {
  overflow: hidden;
  max-width: 295px;
}

#menu .food-category .header-img {
  width: 100%;
}

#menu .food-category .label {
  border-bottom: 2px solid var(--primary-red);
  font-size: 1.5rem;
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.food-item-auxiliary {
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  justify-content: space-between;
  margin-top: 1rem;
}

@media (max-width: 575px) {
  .food-item-auxiliary {
    flex-direction: column;
  }
}

.food-item-auxiliary .name {
  text-decoration: underline;
}

.food-item-auxiliary textarea {
  font-size: .95rem;
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.price-buttons {
  font-family: 'Quicksand', sans-serif;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 575px) {
  .price-buttons {
    align-items: flex-start;
  }
}

.price-buttons .quantity-input input {
  width: 3rem;
  pointer-events: none;
}

.price-buttons .quantity-input {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 575px) {
  .price-buttons .quantity-input {
    display: flex;
    flex-direction: row;
  }
}

.price-buttons .buttons {
  display: flex;
}

@media (max-width: 575px) {
  .price-buttons .buttons {
    display: flex;
    flex-direction: row-reverse;
  }
}

.fade.modal-backdrop {
  opacity: .15 !important;
}

.modal-content {
  border: 4px solid rgb(231, 167, 167) !important;
  border-radius: 0px !important;
  color: var(--primary-red);
}

.modal-content .btn-close {
  color: var(--primary-red) !important;
}

.modal-header {
  color: var(--primary-red);
  border-bottom: 1px solid var(--primary-red) !important;
}

.modal-footer {
  border-top: 1px solid var(--primary-red) !important;
}

#cart {
  display: flex;
  flex-direction: column;
}

#cart ul {
  max-width: 800px;
  margin: auto;
  padding: 0px;
  list-style-type: none;
}

#cart h2 {
  color: #fff;
  background-color: var(--primary-red);
  padding: 2rem;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#cart .fa-cart-shopping {
  color: #fff;
  font-size: 1.5rem;
}

#cart .items {
  color: #fff;
  background-color: var(--primary-red);
  font-size: 1.5rem;
  margin: auto auto 1rem;
  padding-left: .5rem;
}

@media (max-width: 575px) {
  #cart .food-item-auxiliary .icon-buttons>.btn.btn-primary {
    margin-left: 0;
    margin-right: 10px;
  }
}

#cart .divider {
  border: 1px solid var(--primary-red);
  margin: 1rem 0;
  max-width: 400px;
  width: 100%;
}

#checkout .loading-anim {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#checkout .modal-header {
  background-color: var(--secondary-red) !important;
  color: #fff;
}

#checkout .modal-header .btn-close {
  background-color: #fff !important;
}

#cart .checkout-total {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bold;
}

@media (max-width: 575px) {
  #cart .checkout-total {
    margin: auto auto;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

#cart .checkout-total .total {
  padding: 0px;
  text-align: center;
}

#cart .checkout-total .total .label {
  background-color: var(--primary-red);
  color: #fff;
}

#cart .checkout-total .total .figure {
  color: var(--primary-red);
  font-size: 1.2rem;
  text-align: right;
}

#cart .checkout-total button {
  padding-left: 4rem;
  padding-right: 4rem;
}

@media (max-width: 575px) {
  #cart .checkout-total button {
    margin: .5rem auto 1rem;
  }
}

.modal.remove-item .modal-body {
  font-size: 1.5rem;
}

#checkout .item-price-pair {
  display: flex;
  align-items: center;
}

#checkout .dropdown {
  margin: 1em 0;
}

#checkout .dropdown-toggle {
  display: flex;
  align-items: center;
}

#checkout .dropdown-menu {
  border: 2px solid var(--tertiary-red-border);
}

#checkout .dropdown-item:hover {
  background-color: rgba(255, 0, 0, .1);
}

#checkout form .smart-input {
  margin-bottom: 1rem;
}

#checkout form .name-row {
  display: flex;
  grid-gap: 10px;
}

#checkout form .city-row {
  display: flex;
  grid-gap: 10px;
}

@media (max-width: 500px) {
  #checkout form .city-row {
    flex-direction: column;
  }
}

#checkout form .card-number-row {
  display: flex;
  grid-gap: 10px;
}

#checkout .confirmation {
  margin: 1rem;
}

#checkout .order-number {
  margin: .5rem auto 1.2rem;
  text-align: center;
  font-size: calc(1.275rem + .3vw);
}

#guest-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-red);
}

#guest-order h1 {
  color: var(--primary-red);
  margin: 1rem auto;
}

#guest-order h3 {
  color: var(--primary-red);
  margin: 2rem 1rem;
}

#active-order {
  max-width: 1116px;
  margin-top: 2rem;
}

@media (max-width: 991px) {
  #active-order {
  }
}

#active-order .main-row {
  border: 4px solid var(--primary-red);
  border-radius: 0px;
  width: 100%;
  display: flex;
}

#active-order h2 {
  width: 100%;
  border-bottom: 4px solid var(--primary-red);
  padding-left: 1.25rem;
}

#active-order h2 {
  width: 100%;
  border-bottom: 4px solid var(--primary-red);
  padding-left: 1.25rem;
}

#active-order .items-delivery-address-col h2 {
  background-color: var(--primary-red);
  color: #fff;
}

#active-order .row {
  margin: 0px;
}

#active-order .items-delivery-address-col {
  border-bottom: 200px solid var(--primary-red);
  border-right: 4px solid var(--primary-red);
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

@media (max-width: 991px) {
  #active-order .items-delivery-address-col {
    border-bottom: 4px solid var(--primary-red);
    padding-bottom: 3rem;
  }
}

@media (max-width: 767px) {
  #active-order .items-delivery-address-col {
    border-right: 0;
  }
}

#active-order .items-delivery-address-col .items-ul {
  padding: 0;
  list-style-type: none;
}

#active-order .items-delivery-address-col .items-ul textarea {
  pointer-events: none;
}

#active-order .items-delivery-address-col .delivery-address {
  pointer-events: none;
  margin: auto;
  display: block;
  font-size: 1.224rem;
  padding: 1rem;
}

#active-order .items-delivery-address-col .delivery-address .label {
  border-bottom: 2px solid var(--primary-red);
}

#active-order .status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 150px solid rgb(255, 255, 255);
  padding: 0;
  font-weight: 500;
}

#active-order .status .label {
  font-size: 2rem;
  border-bottom: 4px solid var(--primary-red);
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: max-content;
}

#active-order .status .dynamic-status-subheading {
  font-size: 1.35rem;
  margin: 0rem auto 2.5rem;
}

@media (max-width: 1200px) {
  #active-order .status .info-row {
    display: block;
  }
}

#active-order .status .info-row>* .inner-content {
  width: 220px;
  display: flex;
  flex-direction: column;
}

#active-order .status .info-row .estimated-time {
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

#active-order .status .info-row .estimated-time .label {
  border-bottom: 4px solid var(--primary-red);
}

#active-order .status .info-row .estimated-time .figure {
  font-size: 1.25rem;
}

#active-order .status .info-row .order-log {
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

#active-order .status .info-row .order-log .label {
  border-bottom: 4px solid var(--primary-red);
}

#active-order .status .info-row .order-log ul {
  padding: 0;
  font-size: 1rem;
  height: 5rem;
  text-align: start;
  list-style-type: none;
}

#active-order .status #order-progress.row {
  width: max-content
}

#active-order .status #order-progress .orb-wrapper {
  position: relative;
  width: max-content;
  transition: all 0.5s ease-in-out; 
}

@media (max-width: 1200px) {
  #active-order .status #order-progress {
    display: flex;
    flex-direction: column;
  }
}

#active-order .status #order-progress .orb-wrapper .outer-orb {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid var(--primary-red-light);
  z-index: 0;
  position: relative;
}

#active-order .status #order-progress .orb-wrapper.in-progress .outer-orb {
  animation: in-progress 2s infinite;
}

@keyframes in-progress {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#active-order .status #order-progress .orb-wrapper.finished .outer-orb {
  border: 5px solid var(--primary-red);
}

#active-order .status #order-progress .orb-wrapper .icon {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-red-light);
}

#active-order .status #order-progress .orb-wrapper.finished .icon {
  color: var(--primary-red);
}

#active-order .status #order-progress .orb-wrapper.in-progress .icon {
  color: var(--primary-red);
}

#active-order .status #order-progress .orb-wrapper .inner-orb {
  position: absolute;
  content: '';
  background-color: rgb(255, 255, 255);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  color: #fff;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#active-order .status #order-progress .orb-wrapper .over-connector {
  position: absolute;
  content: '';
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 20px;
  color: #fff;
  z-index: 1;
  top: 50%;
  left: 105%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  #active-order .status #order-progress .orb-wrapper .over-connector {
    width: 20px;
    height: 25px;
    top: 105%;
    left: 50%;
  }
}

#active-order .status #order-progress .orb-wrapper .under-connector {
  position: absolute;
  content: '';
  border: 5px solid var(--primary-red-light);
  width: 75px;
  height: 30px;
  color: #fff;
  z-index: 1;
  top: 50%;
  left: 105%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

@media (max-width: 1200px) {
  #active-order .status #order-progress .orb-wrapper .under-connector {
    width: 30px;
    height: 75px;
    top: 105%;
    left: 50%;
  }
}

#active-order .status #order-progress .orb-wrapper.finished .under-connector {
  border: 5px solid var(--primary-red);
}

.food-item-order {
  display: flex;
  font-size: 1.25rem;
  margin-top: 1rem;
}

@media (max-width: 575px) {
  .food-item-order {
    flex-direction: column;
  }
}

.food-item-order img {
  height: 100px;  
}

.food-item-order .info {
  padding: 0rem .45rem;  
}

.food-item-order .info .name {
  text-decoration: underline;
}

.food-item-order .info .ingredients {
  font-size: .95rem;
}

.food-item-order .info textarea {
  font-size: .95rem;
  color: rgba(0, 0, 0, 0.5);
}

#suggest-registration {
  background: url("./assets/suggest-register-2.png") no-repeat center center/cover;
  height: auto;
  overflow: hidden;
  padding: 15px 0px;
  text-align: left;
  width: 100%;
  display: flex;
  min-height: 1200px;
  position: relative;
  justify-content: center;
}

@media (max-width: 991px) {
  #suggest-registration {
    flex-direction: column;
    align-items: center;
  }
}

#suggest-registration::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255,255,255,.25);
  z-index: 0;
}

#suggest-registration h3 {
  color: #fff;
}

#suggest-registration .col {
  z-index: 1;
}

@media (max-width: 768px) {
  #suggest-registration {
    padding: 45px 25px;
  }
}

#suggest-registration .bullet-points {
  background-color: rgb(255, 255, 255);
  margin: 60px 10px;
  padding: 7rem 2rem;
  font-size: 1.55rem;
  width: 100%;
  max-width: 424px;
  height: max-content;
  font-family: 'Tajawal', sans-serif;
}

#suggest-registration .auth-box {
  background-color: rgb(255, 255, 255);
  padding: 6rem 2rem;
  width: 100%;
  max-width: 424px;
  font-family: 'Tajawal', sans-serif;
}

#account {
  color: var(--primary-red);
  margin-top: 2rem;
  background-color: #fff;
  margin-top: 0;
}

@media (max-width: 576px) {  
  #account.container {
    padding: 0px;
  }
}

@media (max-width: 767px) {  
  #account .col-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 576px) {  
  #account .col-wrapper.row {
    padding: 0px;
    margin: 0px;
  }
}

#account .right-col {
  box-shadow: rgba(70, 0, 0, 0.2) 0px 1px 8px;
}

#account #orders h1 {
  padding-left: 0;
}

@media (max-width: 991px) {
  #account #active-order .col-md-6 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  #account #active-order .items-delivery-address-col {
    border-right: none;
  }
}

@media (max-width: 1400px) {
  #account #active-order #order-progress.row {
    flex-direction: column;
  }
}

@media (max-width: 1400px) {
  #account #active-order .info-row {
    flex-direction: column;
  }
}

@media (max-width: 1400px) {
  #account #active-order #order-progress .over-connector {
    width: 20px;
    height: 25px;
    top: 105%;
    left: 50%;
  }
}

@media (max-width: 1400px) {
  #account #active-order #order-progress .under-connector {
    width: 30px;
    height: 75px;
    top: 105%;
    left: 50%;
  }
}

.upload-image {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.upload-image .image-container {
  margin: .5rem auto;
  pointer-events: none;
}

.upload-image .placeholder-with-dimensions {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  border: 2px solid var(--primary-red);
  background-color: #fff;
  color: var(--secondary-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-image img {
  border-radius: 50%;
  max-width: 85px;
}

.upload-image input[type=file]::file-selector-button {
  border: 2px solid var(--secondary-red);
  color: var(--secondary-red);
  padding: .2em .4em;
  border-radius: 0;
  transition: 1s;
  margin-right: .5rem;
  transition: 0.2s all ease-in-out;
}

#account-details #edit-avatar .save-button {
  margin: 1rem auto;
  display: block;
}

#account-details #edit-avatar .image-container {
  height: 89.33px;
  width: 85px;
}

#account-details .section-label {
  text-align: center;
  display: block;
  margin: 2rem auto;
}

#account-details input {
  max-width: 330px;
}

#edit-email {
  background-color: var(--secondary-red);
  color: #fff;
  padding: 3rem 2rem;
}

#edit-email .your-email input {
  pointer-events: none;
  color:rgba(0, 0, 0, .6);
}

#edit-email .labeled-checkbox-button {
  margin: 1rem 0 .6rem;
}

#edit-email .save-button {
  margin: 10px 0 0;
}

#edit-password {
  padding: 3rem 2rem;
}

#edit-password .password-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

#edit-password .password-form .save-button {
  padding: .5rem .65rem;
}

#delivery-addresses {
  background-color: rgb(189, 189, 189);
  padding-right: 12px;
}

#delivery-addresses .col-lg-6:first-of-type {
  color: var(--primary-red);
}

#delivery-addresses .col-lg-6:last-of-type {
  background-color: rgb(236, 236, 236);
}

#delivery-addresses .col-lg-6:last-of-type h4 {
  margin-bottom: 54px;
}

#delivery-addresses .col-lg-6 {
  padding: 3rem 2rem;
}

#delivery-addresses h4 {
  margin: 0;
  font-weight: bold;
}

#delivery-addresses .dropdown-button {
  margin: .5rem auto;
}

#delivery-addresses .dropdown-menu button {
  all: inherit;
}

#delivery-addresses .button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem; 
  max-width: 330px;
}

#account #previous-orders h2 {
  margin-top: 0.5rem;
}

#account #previous-orders ul {
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
  padding: 0;
}

#account #previous-orders .previous-order {
  border: 4px solid var(--secondary-red);
  margin-bottom: 1rem;
}

#account #previous-orders .previous-order .date {
  border: 4px solid var(--secondary-red);
  background-color: var(--secondary-red);
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

#account #previous-orders .previous-order .food-item-order {
  border: 4px solid var(--secondary-red);
}

#admin .left-col {
  background-color: #fff;
  border: none;
  border-bottom: none;
}

#admin .left-col a {
  background-color: #fff;
  color: var(--primary-red);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid var(--primary-red);
}

#admin .left-col a:hover {
  background-color: var(--primary-red);
  color: #fff;
}

#admin .col-wrapper {
  width: 100%;
}

@media (max-width: 767px) {
  #admin .col-wrapper {
    margin: 0;
    justify-content: center;
  }
}

#admin ul {
  padding: 0;
  list-style-type: none;
}

@media (max-width: 991px) {
  #admin .left-col {
    height: max-content;
    margin: 0 auto;
    position: initial;
  }
}

#admin .right-col {
  box-shadow: rgba(70, 0, 0, 0.2) 0px 1px 8px;
}

#admin .right-col h2 {
  margin-top: .5rem;
  color: var(--primary-red);
}

#admin .collapsible-items-ul>* { /* a must for react-beautiful-dnd or animation issues */
  padding: 0 0 1rem;
}

#admin .collapsible-items-ul .more-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 20px;
}

#admin .collapsible-item {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
  background-color: #fff;
}

#admin .collapsible-item .title-buttons-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#admin .collapsible-item .icon-buttons {
  display: flex;
  flex-direction: row;
}

#admin .collapsible-item .icon-buttons>.btn.btn-primary {
  padding: 1.375rem !important;
  border-radius: 25%;
}

#admin .collapsible-item .tab-col {
  display: flex;
  align-items: center;
  color: var(--primary-red);
  font-size: 1.1rem;
  font-weight: bold;
  width: max-content;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

#admin .category {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#admin .collapsible-item .body {
  padding: 1.05rem 1.5rem;
  padding-left: 1.05rem;
}

#admin .collapsible-item .dropdown-toggle {
  background-color: #fff;
  border: 0;
  box-shadow: 0;
  position: relative;
}

#admin .collapsible-item .dropdown-toggle:hover {
  color: #fff;;
  border: 0;
}

#admin .collapsible-item .dropdown svg {
  color: var(--primary-red);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
}

#admin .collapsible-item .ellipsis-menu {
  width: max-content;
  display: flex;
  align-items: center;
}

#admin .collapsible-item .ellipsis-menu .show>.btn-primary {
  color: #fff !important;
}

#admin .collapsible-item .dropdown-menu {
  padding: 0;
}

#admin .collapsible-item .dropdown-item {
  padding: 0;
}

#admin .collapsible-item .dropdown-menu button {
  width: 100%;
}

#admin .collapsible-item .ellipses-menu {
  height: 40px;
}

#admin .collapsible-item .divider {
  border: 1px dotted #888;
  opacity: 0.35;
  width: 100%;
  margin: 0rem auto 0.65rem;
}

#admin #edit-menu .category form .form-control {
  border: none;
  padding-left: 0;
}

#admin #edit-menu .category form .form-control:focus {
  box-shadow: none;
}

#admin #edit-menu .category form input {
  font-size: 1.1rem;
  color: var(--primary-red);
  font-weight: bold;
}

#admin #edit-menu .category.active-or-expanded {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 8px;
}

#admin #edit-menu .category .food-items-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 225px)); 
  height: 0px;
  justify-content: center;
  overflow: hidden;
}

#admin #edit-menu .category .food-items-list.expand {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: auto;
  overflow: visible;  
}

#admin #edit-menu .category .food-items-list .food-item {
  overflow: hidden;
  flex: 0 0 200px;
  padding: .5rem;
}

#edit-menu .category .food-item {
  display: flex;
  flex-direction: column; 
}

#edit-menu .category .food-item .col {
  display: flex;
  flex-direction: column;
  margin: .6rem;
}

#edit-menu .category .food-item .info {
  color: #000;
  font-size: 1.25rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#admin #edit-menu .category .food-item .name {
  color: #000;
  font-size: 1.25rem;
  height: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

#admin #edit-menu .category .food-item .buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
}

#admin #edit-menu .category .food-item .buttons-row .col:first-of-type {
  padding: 0;
}

#admin #edit-menu .category .food-item .buttons-row .icon-buttons {
  width: max-content;
}

#admin #edit-menu .category .add-food-item-button {
  height: 100%;
  padding: 0.5rem;
  position: relative;
}

#admin #edit-menu .category .add-food-item-button .button-wrapper {
  opacity: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  z-index: 1;
}

#admin #edit-menu .category .add-food-item-button .name {
  text-align: start;
  color: var(--primary-red);
  text-overflow: initial;
  font-weight: 500;
}

#admin #edit-menu .category .add-food-item-button .middle-col {
  height: 116px;
  margin: 0;
  font-size: 1.25rem;
}

#admin #edit-menu .category .add-food-item-button .buttons-row {
  width: 233px;
  height: 71px;
}

#admin #edit-menu .category .add-food-item-button .buttons-row .edit-button-outline {
  border: 2px solid var(--primary-red);
  background-color: #fff;
  color: var(--primary-red);
  height: 52px;
}

#admin #edit-menu .category .add-food-item-button .img-outline {
  margin: 0;
  width: 209px;
  height: 154px;
  border: 2px solid var(--primary-red);
}

#admin #edited-food-item .return-button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  position: relative;
  padding-left: 2.15rem;
  border: 2px solid var(--primary-red) !important;
}

#admin #edited-food-item .return-button svg {
  position: absolute;
  font-size: 1.2rem;
  left: 1.4rem;
  top: .9rem;
}

.food-item-form {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
}

.food-item-form input, .food-item-form .category-menu .dropdown-toggle, .food-item-form .dropdown-menu, .food-item-form .info-col .ingredients {
  border: 1px solid var(--primary-red-light);
}

.food-item-form input {
  color: var(--primary-red);
  font-weight: bold;
}

.food-item-form .upload-image {
  display: block;
  margin-bottom: 1rem;
}

.food-item-form .upload-image .image-container {
  margin-top: 0;
}

.food-item-form .upload-image .placeholder-with-dimensions {
  border-radius: 2px;
  width: 263.75px;
  height: 200px;
}

.food-item-form .upload-image .preview {
  border-radius: 2px;
  width: 263.75px;
  height: 200px;
  max-width: 325px;
}

.food-item-form .label {
  background-color: var(--primary-red);
  color: #fff;
  padding-left: .85rem;
}

.food-item-form .image-col-label {
  max-width: 263px;
}

.food-item-form .image-col {
  width: 288.75px;
}

.food-item-form .info-col {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  max-width: 325px;
}

.food-item-form .category-menu {
  margin-bottom: 0.8rem;
}

.food-item-form .category-menu .dropdown-toggle {
  background-color: #fff;
  color: var(--primary-red);
  width: 100%;
}

.food-item-form .category-menu .dropdown-toggle:hover {
  background-color: var(--primary-red);
  border: 1px solid var(--primary-red-light);
  color: #fff;
}

.food-item-form .category-menu .dropdown-button {
  margin: .5rem auto;
}

.food-item-form .category-menu .dropdown-menu button {
  all: inherit;
}

.food-item-form .category-menu .dropdown-menu {
  width: 100%;
}

.food-item-form .category-menu .dropdown-menu a:hover {
  background-color: var(--primary-red);
  color: #fff;
}

.food-item-form .info-col .calculated-price {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  color: var(--primary-red);
}

.food-item-form .info-col .calculated-price .previous-price {
  font-family: 'Quicksand', sans-serif;
  text-decoration: line-through;
}

.food-item-form .info-col .ingredients {
  border-radius: 0.25rem;
}

.food-item-form .info-col .ingredients ul {
  margin-top: 1rem;
}

.food-item-form .info-col .ingredients .edited-ingredient {
  align-items: center;
  margin-bottom: 0.5rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  flex-wrap: nowrap;
}

.food-item-form .info-col .ingredients .edited-ingredient .name {
  width: max-content;
  font-weight: bold;
  color: var(--primary-red);
}

.food-item-form .info-col .ingredients .edited-ingredient .spacer {
  height: 40px;
  position: relative;
  top: 1.25rem;
  left: 0.25rem;
  border-top: 2px dotted var(--primary-red-light);
}

.food-item-form .info-col .ingredients .add-ingredient-row button {
  padding: .313rem .75rem;
}

.food-item-form .info-col .ingredients .edited-ingredient .icon-buttons {
  width: max-content;
}

.food-item-form .info-col .serves-time-row .min-col {
  padding-right: 0;
}

.food-item-form .info-col .serves-time-row .max-col {
  padding-left: 0;
}

.food-item-form .info-col .save-button {
  margin-bottom: 8rem;
}

.food-item-form .info-col .save-button::after {
  content: 'Save';
}

#create-food-item .modal-body {
  padding-top: 0;
  padding-bottom: 0;
}

#create-food-item .food-item-form {
  margin-top: 0;
}

#create-food-item .food-item-form .col-wrapper {
  justify-content: center;
}

#create-food-item .food-item-form .col-wrapper .image-col {
  padding-top: 3rem;
}

@media (min-width: 992px) {
  #create-food-item .food-item-form .col-wrapper .image-col {
    border-left: 1px solid var(--primary-red);
  }
}

#create-food-item .food-item-form .col-wrapper .info-col {
  padding-top: 2rem;
}

#create-food-item .food-item-form .save-button {
  margin-bottom: 2rem;
}

#create-food-item .food-item-form .save-button::after {
  content: 'Create'
}

#admin-orders .admin-order .title-buttons-row {
  color: #fff;
  background-color: var(--primary-red);
}

#admin-orders .admin-order .tab-col {
  color: #fff;
  border: 1px dotted #fff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#admin-orders .admin-order .divider {
  border: 1px dotted #fff;
}

#admin-orders .admin-order .tab-col.second-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#admin-orders .admin-order .tab-col.second-col .completion-label { /* also has conditional green text */
  filter: brightness(1.3);
}

#admin-orders .admin-order .expanded-content {
  text-transform: uppercase;
  padding: 1rem 1rem 2rem;
  color: var(--primary-red);
}

@media (max-width: 575px) {
  #admin-orders .admin-order .expanded-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

#admin-orders .admin-order .expanded-content .label {
  border: 1px dotted var(--primary-red);
  color: var(--primary-red);
  padding-left: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  width: 100%;
}

@media (max-width: 575px) {
  #admin-orders .admin-order .expanded-content {
    padding-left: 1.25rem;
  }  
}

#admin-orders .admin-order .food-items-col ul {
  margin-bottom: 1rem;
}

#admin-orders .admin-order .food-item-order {
  font-family: 'Quicksand', sans-serif;
}

#admin-orders .admin-order .food-item-order .ingredients {
  display: none;
}

#admin-orders .admin-order .food-item-order .price {
  display: none;
}

#admin-orders .admin-order .food-item-order textarea {
  color: #333;
  text-transform: uppercase;
  pointer-events: none;
}

@media (max-width: 575px) {
  #admin-orders .admin-order .address-status-col {
    display: flex;  
    flex-direction: column;
  }
}

#admin-orders .admin-order .address-status-col .order-status {
  padding-top: 1rem;
}

#admin-orders .admin-order .address-status-col .order-status>.col {
  position: relative;
}

#admin-orders .admin-order .address-status-col .order-status>.col>svg {
  position: absolute;
  top: 0.25rem;
  color: #777;
}

#admin-orders .admin-order .address-status-col .order-status .form-check .form-check-input:active {
  background-color: var(--secondary-red);
  border: 1px solid rgba(255, 0, 0, 0.25);
  box-shadow: 0 0 0 0 #000;
  box-shadow: 0 0 0 .25rem var(--primary-red-box-shadow);
}

#admin-orders .admin-order .address-status-col .order-status .form-check .form-check-input:checked {
  background-color: var(--secondary-red);
  border: 1px solid rgba(255, 0, 0, 0.25);
  box-shadow: 0 0 0 .25rem var(--primary-red-box-shadow);
}

#admin-orders .admin-order .address-status-col .order-status .form-check.blocked .form-check-input:checked {
  border: 1px solid rgba(0,0,0,.25);
  background-color: transparent;
}

#admin-orders .admin-order .address-status-col .order-status .submit-button {
  margin-top: 1rem;
}
